.sectores
{
    width:100%;
    overflow:hidden; 
    border: 1px solid gray
}

.sector
{
    border: 1px solid #b0c0c0; 
    width:20px; 
    height:20px; 
    background-color: #fff;
    float:left;
}

.actual 
{
    background-color: #000;
    border: 1px solid yellow;
}

.ocupado
{
    /*background-color: green;*/
}

.archivo-sectores
{
    width: 100px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}